<% self.title = "Login" %>

<%= model.inspect %>

<%##<OAuth2::Response:0x007fd263cada68 @response=#<Faraday::Response:0x007fd263cadae0 @env={:method=>:get, :body=>"{\n \"data\": {\n  \"email\": \"mo.khan@gmail.com\",\n  \"isVerified\": true\n }\n}\n", :url=>#<URI::HTTPS:0x007fd263c87020 URL:https://www.googleapis.com/userinfo/email?alt=json&query_foo=bar>, :request_headers=>{"User-Agent"=>"Faraday v0.8.7", "Authorization"=>"Bearer ya29.AHES6ZRLfRqEztWInP7ThihZ_NGofGZEWBSIVL5_XoH2BGfbTiWycQ"}, :parallel_manager=>nil, :request=>{:proxy=>nil}, :ssl=>{}, :status=>200, :response_headers=>{"cache-control"=>"no-cache, no-store, max-age=0, must-revalidate", "pragma"=>"no-cache", "expires"=>"Fri, 01 Jan 1990 00:00:00 GMT", "date"=>"Thu, 18 Apr 2013 03:17:08 GMT", "content-type"=>"application/json; charset=UTF-8", "x-content-type-options"=>"nosniff", "x-frame-options"=>"SAMEORIGIN", "x-xss-protection"=>"1; mode=block", "server"=>"GSE", "connection"=>"close"}, :response=>#<Faraday::Response:0x007fd263cadae0 ...>}, @on_complete_callbacks=[]>, @options={:parse=>nil}>%>
<p>parsed: <%= model.parsed %></p>
<p>parsed: <%= model.parsed["data"]["email"] %></p>
<p>body: <%= model.response.body %></p>
<p>headers: <%= model.response.headers %></p>
<p>status: <%= model.response.status %></p>
<p>body: <%= model.response.env[:body]  %></p>
<p>body-data: <%= model.response.env[:body]["data"] %></p>
<p>body-data-email: <%= model.response.env[:body]["data"]["email"]  %></p>
<p>url: <%= model.response.env[:url]  %></p>
